# IntelliJ
.idea/
*.iml

# Maven build
target/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment
.env

# Application secrets
src/main/resources/application.properties

# Application logs
application.log
app.log

# Log directories
/logs/
/log/

# Spring Boot logs
spring.log